/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
body{
    margin: 0;
    padding: 0;
}

.nav-bar{
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: #540B51;
    width: 100%;
}

.nav-izq{
    background-color: #540B51;
    display:flex;
    flex-direction:row;
    margin-left:1.5rem;
    justify-content: flex-start;
}

.nav-der{
    background-color: #540B51;
    display:flex;
    flex-direction:row;
    margin-right:1.5rem;
    justify-content: flex-end;
}

.logo{
    margin:auto;
    width: 90px;
}

.lista{
    display: none;
}

.boton-nav{
    margin-left:0.5rem;
    background-color: #540B51;
    border:none;
}

.img-boton{
    width:20px; 
}


header{
    background-color: #540B51;
    margin:0;
    padding-top:3rem;     
    color:white;
    text-align: center;
    font-size: 1.3rem;
}

header > div{
    padding:0.5rem 1rem;
 }

 header p{
    margin:0 0 0.8rem;
    font-size: 1rem;
}
p > span{
    color:#540B51;
    font-weight: bolder;
}

.boton-header{
    margin:0.6rem;
    display:flex;
    flex-direction: column;
}

.boton-sing-up{
    width:98%;
    height:3rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing:0.7px;
    border-radius: 0.3rem;
    margin:0.3rem;
    border:none;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0;
}

.boton-azul{
    background-color: #4285F4;
    color:white;
}

.boton-blanco{
    background-color:white;
    border:2px solid #540B51;
    color:#540B51;
    font-weight: 700;
}

.boton-sing-up img{
    padding:0.3rem;
    width:1.3rem;
    background-color: white;
    border-radius: 2px;
    font-weight:700;
}

.div-img{
    margin:0;
    padding:0;
    width:100%;
    height:350px;
    overflow:hidden;
    
}

.img-header{
    
    margin:0;
    padding:0;
    width:700px;
    position:relative;
    
}

main{
    margin:0;
    padding:0;
    background-color: #F3EAE2;
    display:flex;
    flex-direction: column;
}
main section{
    margin:0;
    padding:0;
}

.trusted{
    margin:0;
    padding:2rem 1rem;
    text-align: center;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight:bolder;
}

.logos-div{
    background-color: #F3EAE2;
    width:100%;
    height:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    padding-bottom: 1rem;
}

.img-logo{
    height:2rem;
    margin:1rem 0rem;
    flex-grow:0;
    padding-bottom: 1rem;
}
.img-logo2{
    height:3.5rem;  
}

.section-teams{
    background-color: white;
    margin-bottom:-3rem;
    padding-bottom: 4rem;
}

.section-teams h3{
    font-size: 2.2rem;
    text-align: center;
    padding:0 1rem 0 1rem;
    font-weight:bolder;
}

.section-teams p{
    margin:0;
    padding:1rem;
    text-align:center;
    font-size:1.1rem;
    font-weight: bolder;
}

.section-teams ul{
    list-style-type:none;
    padding:0;
    margin:0;
}

.section-teams ul li p{
    text-align: center;
    padding:1rem 7rem 0rem 7rem;
    
}

.section-teamsul li p span{
    color:#540B51;
    font-size: 3rem;
    
}

.section-welcome{
    color:white;
    text-align: center;
    margin-top:3rem;
    background-color: #540B51;
    display:flex;
    flex-direction: column;
}

.borde{
    border:2px solid white;
}

footer ul{
    list-style-type:none;
    font-weight:bolder;
}

.ul-socials{
    display: flex;
    justify-content:space-around;
    list-style-type:none;
}

.ul-non-socials{
    margin-left: 1rem;
}

@media (width > 768px) and (width < 1024px) {
    .nav-bar{
        height:6rem;
    }
    .logo{
        width:140px;
    }
    .img-boton{
    
        width:40px;
    }

    header{
        font-size: 3.2rem;
        text-align: left;
        display:flex;
        justify-content: space-between;
        align-items: center;
     
    }

    .header-div-1{
        height:1000px;
        display: flex;
        flex-direction: column;
        
        
    }
    header h1{
        width:530px;
    }
    header p{
        margin:0 0rem 1rem 1rem;
        font-size: 1.8rem;
        width:80%;

    }

    .boton-sign-up{
        width:90%;
        height:4rem;
        font-size:1.1rem;
    }
    .boton-sign-up img{
        width:1.5rem;
        padding:0.7rem;
    }

    .section-teams h3{
        font-size: 2.5rem;

    }
    .section-teams p{
        font-size: 1.5rem;
        
    }

    .section-teams ul{
        display:flex;
        justify-content: space-around;
        padding-top:3rem;
    }
    .section-teams ul li p{
        text-align: center;
        padding:1rem 2rem 0rem 2rem;
        
    }
    .section-welcome {
        font-size: 2.5rem;
        align-items: center;
    }
}

@media (width > 1024px) /*and (width < 1440px)*/{
    .nav-bar{
        position:static;
        justify-content: space-around;
        
     }
     .img-menu{
         display:none;
         justify-content:flex-start;
     }

     .lista{
      
        display:flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        

    }
    .lista a{
        text-decoration: none;
        color: white;
        font-size: 1.8rem;
        
        
    }
    .lista ul{
        padding:0;
        
    }
    .lista li{
        list-style-type:none;
        padding:auto;
        
    }
    .nav-izq{
        justify-content:flex-start;
        width:80%;
    }
    .nav-der{
        
        justify-content:space-around;
        width:30%;
        
    }
    .boton-nav{
    
        margin-left:0;
        background-color: #540B51;
        border:none;
    }
    .btn-hidden{
        text-decoration: none;
        list-style: none;
        
        display:flex;
        justify-content:space-around;
    
    }

    .btn-nav-der1{
        margin:0 1rem;
        width: 100%;
    }
    .btn-nav-der2{
        background-color: white;
        border-radius: 8px;
        margin:0 1rem;
        width: 100%;
    }
    .txt-nav-der-1{
        color:white;
       
    }
    .txt-nav-der-2{
        color:#540B51;
        font-weight: bold;
        padding:2rem 0.5rem 0 ;
        width:20%;
       
    }
    .btn-hidden li a{
        text-decoration: none;
        font-size: 1.6rem;
        
    }
    header{
        padding-top:0;
    }
}